---
version: "3"

services:
  db:
    image: mongo:4.2.8
    volumes:
      - dbdata:/data/db
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

  # webscraper:
  #   build:
  #     context: .
  #     dockerfile: docker/webscraper/Dockerfile
  #   depends_on:
  #     - db
  #   environment:
  #     - MONGO_CONNECTION_STRING=mongodb://root:password@db:27017

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
      # - webscraper
    environment:
      - MONGO_CONNECTION_STRING=mongodb://root:password@db:27017
      - TOKEN=sjOKTqhA8nR0LE8GwYi51uhiVbrToLuKRAC_vkZYFf7N-moyNm7A36vz7PjrP-FIt4GYgCM7ckXdLd36Du9QiK14ZtLlhIBhdUMg6ohtkpD0-xea-G0y0gGu4bTM8bBGsW3a__lF6G10R53kV0c6Zzyb7umjw4BxOlMyVO0J16f9ENVbLzqLpq_idRULrsN0cMKPxKYqUI5ntB6tckzWVhTTv5S3f_JSP2k3DQbRKAQ.

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules/
    ports:
      - "5000:5000"
    # depends_on:
    # - webscraper
    # - backend

volumes:
  dbdata:
