<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <% for (let css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
  </head>
  <body>
    <div id="googleMap" class="map"></div>
    <div class="floating-panel">
      <form class="search-form">
        <input type="text" class="search" placeholder="Street or District..." />
        <ul class="suggestions"></ul>
      </form>
    </div>
    <% for (let js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGt9iRVic4NaVo6OqvqR7XOxJoN2hbkgA&callback=mapsCallback"
      type="text/javascript"
    ></script>
  </body>
</html>
